.form2{
    padding: 44px;
}

.cuadroDoc{
    position: absolute;
    left: 81.3%;
}

.cuadroOpi{
    position: absolute;
    top: 77.5%;
}

.encabezado{
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
    padding-top: 20px;
}

.encabezado h1{
    font-size: 60px;
    font-family: Montserrat;
    font-weight: ExtraBold;
    margin: 0;
}

.titulo{
    padding-left: 150px;
}

.Back{
    padding-top: 20px;
}

.Back button{
    background-color: white;
    border: none;
    cursor: pointer;
}

.step{
    display: flex;
    justify-content: flex-end;
    padding-top: 70px;
    padding-right: 90px;
}

.preguntas{
    display: flex;
    justify-content: center;
    padding: 50px 0px 0px 0px;
    margin-top: -20px;
}

.preguntas h3{
    font-family: Montserrat;
    font-weight: ExtraBold;
    font-size: 20px;
}

.seccion2{
    padding-left: 280px;
    padding-right: 50px;
}

.btnEnviar{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 100px;
}

.sede, .contribuyente, .fecha, .empresa{
    padding: 10px 0px 10px 0px;
}
