@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body{
    margin: 0;
}


.login{
    display: flex;
    justify-content: center;
    margin-left: 22%;
}

.form{
    margin-top: 125px;
}

.titu{
    display: flex;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.titu h1{
    font-size: 70px;
    font-family: Montserrat;
    font-weight: bolder;
}

.creaCuenta h4{
    font-family: Montserrat;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.creaCuenta button{
    background-color: white;
    border: none;
    color: #82B6F3;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.btnInicioSesion button{
    width: 570px;
    height: 75px;
    background-color: #82B6F350;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
}
.rectangulo{
    margin-left: 40px;
}

.rectangulo img{
    width: 850px;
    height: 1081.1px;
}
