@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.login{
    display: flex;
    justify-content: center;
    margin-left: 25.6%;
}

.form{
    padding-top: 105px;
}

.titulo{
    display: flex;
    justify-content: center;
}

.titulo h1{
    font-size: 70px;
    font-family: Montserrat;
    font-weight: bolder;
}

.creaCuenta h4{
    font-family: Montserrat;
    font-size: 20px;
}

.creaCuenta a{
    color: #82B6F3;
}

.btnInicioSesion button{
    width: 570px;
    height: 75px;
    background-color: #82B6F350;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
}
.rectangulo{
    margin-left: 40px;
}

.rectangulo img{
    width: 850px;
    height: 1081.1px;
}
